<!doctype html>
<html data-ng-app="app">
<head>
    <meta charset="utf-8" />
    <title>AngularJS
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.css">
    <style>
        .img {
            height: 300px;
        }

        .img-bg {
            background-color: black;
        }

        .alert-bg {
            background-color: #5cb85c;
        }

        .c {
            margin-top: 10px;
            height: 80px;
        }
    </style>

</head>
<body data-ng-controller="quotesCtrl">
    <div class="container">

        <div class="row" data-ng-show="!editing">
            <div class="col-md-6 col-md-offset-3 c">
                <h4 class="well well-sm">{{quotes.who}}: <small>{{quotes.cite}}</small></h4>
            </div>
            <div class="col-md-6 col-md-offset-3">
                <table class="table table-bordered">
                    <tr class="img-bg">
                        <td>
                            <img src="http://193.187.64.237:4000/jaskier.jpg" class="img" /></td>
                        <td>
                            <img src="http://193.187.64.237:4000/geralt.png" class="img" /></td>
                        <td>
                            <img src="http://193.187.64.237:4000/yennefer.jpg" class="img" /></td>
                    </tr>
                    <tr>
                        <td class="col-sm-4" data-ng-class=" {'alert-bg' : quotes.who == 'Jaskier'}">&nbsp;</td>
                        <td class="col-sm-4" data-ng-class=" {'alert-bg' : quotes.who == 'Geralt'}"></td>
                        <td class="col-sm-4" data-ng-class=" {'alert-bg' : quotes.who == 'Yennefer'}"></td>
                    </tr>
                </table>
            </div>
            <div class="col-md-6 col-md-offset-3"><a href="#" data-ng-click='edit()' class="btn btn-primary"><span class="glyphicon glyphicon-wrench"></span>Ustawienia</a></div>
        </div>

        <div class="row" data-ng-show="editing">
            <div class="col-md-6 col-md-offset-3 c">
                <div class="panel panel-info">
                    <div class="panel-heading">Zmień częstotliwość odświeżania cytatów</div>
                    <div class="panel-body">
                        Wybierz interwał czasowy (sekundy):
                        <select data-ng-model="timeInterval" data-ng-options="i as i for i in num()" data-ng-change="alert('interval')"></select>
                    </div>
                </div>
                <div class="panel panel-info">
                    <div class="panel-heading">Zmień adres serwera</div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label for="serverAddressInput">Adres serwera</label>
                            <input type="text" class="form-control" id="serverAddressInput" placeholder="Wpisz adres" data-ng-model="serverAddress">
                        </div>
                        <div class="btn-group btn-group-justified">
                            <a href="#" class="btn btn-danger btn-sm" data-ng-click="newAddress(); alert('newAddress')">Zmień adres</a>
                            <a href="#" class="btn btn-success btn-sm" data-ng-click="defaultAddress(); alert('defaultAddress')">Przywróć domyślny</a>
                        </div>
                        <div data-ng-show="showAlert">
                            <br />
                            <div class="alert alert-success" role="alert">
                                <span class="glyphicon glyphicon-chevron-down"></span> {{message}}
                            </div>
                        </div>
                    </div>
                </div>
                <a href="#" class="btn btn-primary btn-sm" data-ng-click='edit()'><< Powrót</a>
            </div>
        </div>

    </div>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://code.angularjs.org/1.2.20/angular.js"></script>
    <script type="text/javascript">

        // Stworzenie nowego moduł "app".
        var app = angular.module("app", []);

        // Konfiguracja, włączenie obsługi Cross-site Scripting.
        // Powyższa obsługa powinna byś włączona również na serwerze.
        app.config(function ($httpProvider) {
            $httpProvider.defaults.withCredentials = true;
            $httpProvider.defaults.useXDomain = true;
            delete $httpProvider.defaults.headers.common['X-Requested-With'];
        });


        app.controller("quotesCtrl", function ($scope, quoteService, $timeout) {

            // Domyślny adres serwera cytatów
            var address = 'http://193.187.64.237:4000/cite'

            // Wartość odpowiadająca z wyświetlanie i ukrywanie ekranu edycji.
            // false - ekran edycji jest ukryty, ekran główny jest wyświetlony
            // true &#8211; ekran edycji jest wyświetlony, ekran główny jest ukryty
            $scope.editing = false;

            // Domyślny interwał czasowy, określający co ile sekund ma być pobierany cytat.
            $scope.timeInterval = 3;

            // Ustawienie domyślnego adresu.
            getDefaultAddress();

            // Deklaracja obiektu przechowującego cytaty.
            $scope.quotes = {};

            // Wgranie pierwszego cytatu po załadowaniu strony.
            loadRemoteData();

            // Metoda, ustawiająca domyślny adres serwera cytatów.
            function getDefaultAddress() {
                $scope.address = address;
                $scope.serverAddress = $scope.address;
            };

            // Metoda ustawiająca nowy adres serwera cytatów.
            $scope.newAddress = function () {
                $scope.address = $scope.serverAddress;
            }

            // Metoda ustawiająca domyślny adres serwera cytatów.
            $scope.defaultAddress = function () {
                getDefaultAddress()
            }

            // Metoda, obsługująca wyświetlanie komunikatów w panelu administracyjnym.
            $scope.alert = function (type) {
                $scope.showAlert = true;
                switch (type) {
                    case 'interval':
                        $scope.message = 'Nowy interwał czasowy został zapisany.';
                        break;
                    case 'newAddress':
                        $scope.message = 'Nowy adres serwera cytatów został zapisany.';
                        break;
                    case 'defaultAddress':
                        $scope.message = 'Domyślny adres serwera cytatów został przywrócony.';
                        break;
                    default:
                        $scope.showAlert = false;
                }
                // Komunikat jest ukrywany po 2 sekundach.
                $timeout(
                    function () {
                        $scope.showAlert = false;
                    }, 2000);
            };


            // Metoda odpowiedzialna za sterowanie wyświetlaniem ekranu głównego oraz ekranu z panelem administracyjnym.
            $scope.edit = function () {
                if (!$scope.editing) {
                    $scope.editing = true;
                }
                else {
                    $scope.editing = false;
                }

            }

            // Metoda odpowiedzialna za stworzenie tablicy liczb od 1 do 100, wykorzystanej w panelu administracyjnym w elemencie <select>.
            $scope.num = function () {
                var t = [];
                for (var i = 1; i <= 100; i++) {
                    t.push(i)
                }
                return t;
            };

            // Zmienna stworzona od obsługi serwisu $timeout.
            var timer;

            // Metoda odpowiedzialna za odświeżanie cytatów zgodnie z ustawionym interwałem czasowym.
            function loop() {
                timer = $timeout(
                    function () {
                        loadRemoteData();
                    },
                    $scope.timeInterval * 1000
                );

                timer.then(
                    function () {
                        loop();
                    },
                    function () {
                        console.log("Występił bład!");
                    }
                );
            }
            // Wywołanie pętli.
            loop();

            // Metoda zatrzymująca pętlę w przypadku usunięcia elementu z drzewa DOM.
            $scope.$on(
                "$destroy",
                function (event) {
                    $timeout.cancel(timer);
                }
            );

            // Metoda przypisująca dane do lokalnego scope-a.
            function applyRemoteData(newquotes) {

                $scope.quotes = newquotes;
                console.log(newquotes);

            }

            // Metoda pobierająca dane z serwera.
            function loadRemoteData() {
                quoteService.getQuotes($scope.address)
                .then(
                function (quotes) {
                    applyRemoteData(quotes);
                });
            }
        });


        // Serwis odpowiedzialny za pobieranie danych z serwera.
        app.service("quoteService", function ($http, $q) {

            // Zreaca publiczne API.
            return ({
                getQuotes: getQuotes
            });

            // Metoda pobierająca najnowszy cytat.
            // Parametrem jest nowa data, pozwala to na odświeżanie cache, poprzez zmianę query stringa.
            function getQuotes(address) {
                var request = $http({
                    cache: false,
                    params: { 't': new Date().getTime() },
                    method: "get",
                    url: address,
                });
                return (request.then(handleSuccess, handleError));
            }

            // Metoda obsługująca błędy.
            function handleError(response) {
                if (!angular.isObject(response.data) || !response.data.message) {
                    return ($q.reject("Wystąpił nieznany błąd."));
                }
                return ($q.reject(response.data.message));
            }

            // Metoda zwracająca pobrane dane w przypadku braku błędów.
            function handleSuccess(response) {
                return (response.data);
            }
        });

    </script>

</body>
</html>
